<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>thanks</title>

    <style>
        *{
            padding:0px;
            margin:0px;
        }
        div{
            padding:2% 0% 2% 0%;
            margin:0% 0% 4% 0%;
            background-color:#b3151d;
        }
        a{
            color: white;
            text-decoration:none;
            font-size:300%;
            font-weight:bold;
        }
    </style>
</head>
<body>
    <div>
     <a href='{% url "index" %}'>Raksha's Portfolio </a>
    </div>
    <h1 style="text-align: center;">Thanks for contacting me.I'll get back to you soon!</h1>
    
</body>
</html>